.table {
  width: 100%;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #333333;
    min-height: 3rem;
    .cell {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      font-size: 14px;
      text-align: start;
      line-height: 1em;
      margin: 0 10px;
    }
  }
  .header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;    
    .cell {
      color: #333333;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    // &:hover {
    //   border-bottom: 1px solid #ffffff;
    //   border-top: 1px solid #ffffff;
    //   background-color: #b2bec5;
    // }
  }
}
